@model OnlineLearningManagementSystemProject.Models.Course

@{
    ViewData["Title"] = "update";
}

@*<h1>update</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />


            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <input asp-for="CourseCode" class="form-control" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Credit" class="control-label"></label>
                <input asp-for="Credit" class="form-control" />
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Lecture" class="control-label"></label>
                <input asp-for="Lecture" class="form-control" />
                <span asp-validation-for="Lecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lab" class="control-label"></label>
                <input asp-for="Lab" class="form-control" />
                <span asp-validation-for="Lab" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Training" class="control-label"></label>
                <input asp-for="Training" class="form-control" />
                <span asp-validation-for="Training" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CourseImage" class="control-label"></label>
                <input asp-for="CourseImage" class="form-control" />
                <span asp-validation-for="CourseImage" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

*@




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Edit.css">
    <title>Edit Course</title>

</head>
<body>
    <div class="header-add-student">
        <span class="add-student">Edit Course</span>
    </div>


    <div class="div-form">
        <form method="post" class="form" asp-action="update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CourseId" />



            <div class="fullname">
                <label for="firstname-input" asp-for="CourseName" class="firstname-label">CourseName</label>
                <br>
                <input type="text" asp-for="CourseName" id="firstname-input">
                <span asp-validation-for="CourseName"></span>
                <br>

            </div>

            <div class="fullname">
                <label for="nid" asp-for="CourseCode" class="firstname-label">CourseCode</label>
                <br>
                <input asp-for="CourseCode" id="nid" type="text">
                <span asp-validation-for="CourseCode"></span>

            </div>

            <div class="email-div">
                <label for="email">LECTURE HOURS</label class="uniid-label"> 
                <br>
                <input id="email" type="number" asp-for="Lecture" placeholder="LECTURE HOURS" required>
            </div>
            <span asp-validation-for="Lecture" class="text-danger"></span>

            <div class="enroll-div">
                <label for="enroll">LAB HOURS</label class="uniid-label">
                 <br>
                <input id="enroll" type="number" asp-for="Lab" placeholder="LAB HOURS" required>
            </div>
            <span asp-validation-for="Lab" class="text-danger"></span>


            <div class="enroll-div">
                <label for="enroll">TRAINING HOURS</label class="uniid-label">
                 <br>
                <input id="enroll" type="number" asp-for="Training" placeholder="TRAINING HOURS" required />
            </div>
            <span asp-validation-for="Training" class="text-danger"></span>
          
           @* <div class="img-div">
                <label class="img-label" for="img">Course Picture</label>
                <input id="img" type="file" asp-for="formFile" placeholder="Course Picture" accept="image/*">
            </div>*@
            <span asp-validation-for="formFile" class="text-danger"></span>

            <button type="submit" class="btn-addstudent">Update Course</button>




            <!-- <div class="img-div">
                <label class="img-label" for="img">Student Picture</label>
                <input id="img"type="file" placeholder="Student Picture" accept="image/*">
            </div> -->




        </form>
    </div>



</body>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

