@{
    ViewData["Title"] = "Home Page";
}

<!-- login -->
    <div class="main ">
        <div class="loginsection row" id="loginsec">
            <div class="col-6 svu">
                <h1 style="font-weight: bold; font-size: 50px;">
                    S . V . U
                </h1>

                <h3 class="south-valley-university" style="font-size: 40px;">South Valley University</h3>
                <h4 class="title">Title</h4>
                <span class="loginSpan">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s,
                    </p>
                    <p>when an unknown printer took a galley</p>
                    <p>
                        of type and scrambled it to make a type specimen book.
                    </p>
                    <p>
                        It has survived not only five centuries,
                    </p>
                    <p>
                        but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                    </p>
                    <p>
                        It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged.
                    </p>
                </span>
            </div>


            <!-- login form  -->
            <div class="login-form col-6" id="login">
                <img class="loginpic" alt="" src="~/images/Screenshot 2023-05-11 225553.png" />

                <div class="inputs">
                    <div class="input">
                        <i class="fa fa-user icon"></i>
                        <input class="" type="email" placeholder="Enter Email" required id="email" />
                    </div>
                    <div class="input">
                        <i class="fa fa-key icon"></i>
                        <input class="" type="password" placeholder="Enter Password" required id="password" />
                    </div>
                    <a href="">Forget your password ?</a>
                    <button class="login-button" type="submit">Login</button>

                    </a>
                </div>
            </div>
        </div>




        <!-- slider  -->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner slider">
                <div class="carousel-item active ">
                    <div class="d-flex persons">
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex persons">
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex persons">
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex persons">
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                        <div class="book">
                            <p class="info">Hello</p>
                            <div class="cover">
                                <img alt="" src="~/images/Screenshot 2023-05-11 225553.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev arrow" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev" style="background-color: black;width: 5%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next arrow" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next" style="background-color: black;width: 5%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>




    <!-- footer  -->
    <footer>

        <div class="row">

            <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h2>Contact Us</h2>

                <ul class="list-unstyled quick-info mb-4">
                    <li><a href="#" class="d-flex align-items-center"><i class="fa fa-solid fa-phone"></i>&nbsp; +20
                            1102636003</a></li>
                    <li><a href="#" class="d-flex align-items-center"><i class="fa fa-solid fa-envelope"></i>&nbsp;
                            hadeel.hamam.sadek@gmail.com</a>
                    </li>
                    <li><a href="#" class="d-flex align-items-center"><i class="fa fa-solid fa-map"></i>&nbsp;
                            Egypt, Qena - Safaga Rd</a>
                    </li>
                    <li><a href="#" class="d-flex align-items-center"><i class="fa fa-solid fa-map"></i>&nbsp;
                            Location link</a>
                    </li>
                </ul>


            </div>
            <div class="col-md mb-4 mb-md-0">

                <h2>Quick Links</h2>
                <ul class="list-unstyled tweets">
                    <li class="d-flex">
                        <a href="#">
                            <i class="fa fa-solid fa-caret-right"></i>&nbsp; DR.Emad

                        </a>
                    </li>
                    <li class="d-flex">
                        <a href="#">
                            <i class="fa fa-solid fa-caret-right"></i>&nbsp; Mahmoud

                        </a>
                    </li>
                    <li class="d-flex">
                        <a href="#">
                            <i class="fa fa-solid fa-caret-right"></i>&nbsp; Hadeel

                        </a>
                    </li>
                    <li class="d-flex">
                        <a href="#">
                            <i class="fa fa-solid fa-caret-right"></i>&nbsp; Hayam

                        </a>
                    </li>
                </ul>
            </div>


            <div class="col-md-3 mb-4 mb-md-0 thirdrow">
                <div class="logo2">

                    <img src="./logo2.png" alt="" class="logo">
                </div>

                <div class="card" style="flex-direction: row; height: 65px;">
                    <span>Social</span>
                    <a class="social-link" href="#">
                        <i class="fa fa-sharp fa-light fa-globe"></i>
                    </a>
                    <a class="social-link" href="#">
                        <i class="fa fa-facebook-official w3-hover-opacity"></i> </a>
                    <a class="social-link" href="#">
                        <i class="fa fa-instagram w3-hover-opacity"></i> </a>
                    </a>
                    <a class="social-link" href="#">
                        <i class="fa fa-linkedin w3-hover-opacity"></i> </a>
                    </a>
                </div>

            </div>

        </div>

    </footer>