@model OnlineLearningManagementSystemProject.Models.Material
@{
    ViewData["Title"] = "CreateV";
}

<h1>Create</h1>
<h4>Material</h4>
<hr />
<div class="row">
   <div class="col-md-4">
        <form asp-action="CreateVideo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="courseId" value="@ViewBag.CourseId" />
            </div>
            <div class="form-group">
                <input type="hidden" name="staffId" value="@ViewBag.StaffId" />
            </div>
            <div class="form-group">
                <label asp-for="MaterialName" class="control-label"></label>
                <input asp-for="MaterialName" class="form-control" />
                <span asp-validation-for="MaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formFile" class="control-label"></label>
                <input type="file" accept="video/*" asp-for="formFile" class="form-control" />
                <span asp-validation-for="formFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Publish" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
